.space-between {
  padding-top: 1rem;
}
.question-style {
  font-size: 20px;
  font-weight: 500;
}
.paragraph-answer-style {
  width: 90%;
  height: 30px;
}
.checkbox-text-style {
  font-size: 16px;
}
